@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@300;400;500&display=swap');
@font-face {font-family: meltedMonster; src: url(./font/meltedMonster.ttf);}
@font-face {font-family: RemesloSTD; src: url(./font/RemesloSTD.otf);}

:root{
    --color: rgb(12, 26, 51);
    --color-fuente: rgb(189, 198, 207);
    --color-fondo: rgba(46, 43, 52, 0.789);
}

*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.hero{
    height: 100vh;
    background-image: url(./assets/giro3.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero h1:first-of-type{
    font-family: meltedMonster;
    font-size: 12rem;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 4px rgb(124, 151, 183);
    z-index: 10;
}
.glass{
    width: 100%;
    height: 50dvh;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(3px);
}
.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    margin: 30px 20px;
    gap: 5px;
    font-size: 25px;
    position: absolute;
    top: 20px;
}
.navbar a{
    color: var(--color-fuente);
}
.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-fondo);
}
.galleryContainer{
    display: flex;
    flex-direction: column;
}
.galleryContainer h2{
    display: flex;
    justify-content: center;
    color: var(--color);
    font-size: 5rem;
    margin: 25px auto;
}
.galleryImgText{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
}
.galleryImg{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.galleryImg img{
    width: 100%;
    height: 100%;
}
.galleryText{
    position: absolute;
    width: 90%;
    bottom: 40px;
    left: 100px;
    color: var(--color-fuente);
}

.modificacionCapital{
    font-size: 6rem;
    font-family: RemesloSTD;
    color: var(--color);
}
.piedepagina{
    display: flex;
    align-items: center;
    width: 100%;
    height: 150px;
    list-style: none;
    font-size: 25px;
    background-color: var(--color-fondo);
    position: relative;
}
.piedepagina a{
    margin-left: 50px;
    color: var(--color)
}
.piedepagina p{
    position: absolute;
    right: 40%;
}